@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
}
.grid-container {
  display: grid;
  grid-template-rows: 49.8% 0.4% 49.8%;
  grid-template-columns:  49.8% 0.4% 49.8%;
}

.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
}

.gutter-col-1 {
  grid-column: 2;

}

.gutter-row {
  grid-column: 1/-1;
  cursor: row-resize;
 
}

.gutter-row-1 {
  grid-row: 2;
 
}
.javascript::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  background-image: url("/src/assets/js.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}


.html::after{
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  background-image: url("/src/assets/html5.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.css::after {
  background-image: url("/src/assets/css3.svg");
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.btn-primary{

  color: #E34F26
}
