@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
.grid-container {
  display: grid;
  grid-template-rows: 49.8% 0.4% 49.8%;
  grid-template-columns: 49.8% 0.4% 49.8%;
}

.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
}

.gutter-col-1 {
  grid-column: 2;
}

.gutter-row {
  grid-column: 1/-1;
  cursor: row-resize;
}

.gutter-row-1 {
  grid-row: 2;
}
.javascript::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  background-image: url("/src/assets/js.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.html::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  background-image: url("/src/assets/html5.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.css::after {
  background-image: url("/src/assets/css3.svg");
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .html::after {
    width: 28px;
    height: 28px;
  }
  .css::after {
    width: 28px;
    height: 28px;
  }
  .javascript::after {
    width: 28px;
    height: 28px;
  }
}
.bg-img {
  background-color: #4f525b;
  background-image: url("data:image/svg+xml,%3Csvg xlink='http://www.w3.org/1999/xlink' viewBox='0 0 5000 5000' xmlns='http://www.w3.org/2000/svg' style='transform: scale(1)%3B'%3E%3Cdefs%3E%3Cfilter id='goo'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='11.875' result='blur'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix in='blur' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='good'%3E%3C/feColorMatrix%3E%3CfeComposite in='SourceGraphic' in2='goo' operator='atop'%3E%3C/feComposite%3E%3C/filter%3E%3Cpath d='M186 162C221 138 264 135 296 151C328 167 350 195 358 236C362 279 343 318 314 338C279 362 236 365 204 349C172 333 150 305 142 264C138 221 157 182 186 162z' id='P0'%3E%3C/path%3E%3Cpath d='M318 177L281 345L153 225L318 177z' id='P1'%3E%3C/path%3E%3Cpath d='M346 180L320 346L154 320L180 154L346 180z' id='P2'%3E%3C/path%3E%3Cpath d='M282 349L166 311L166 189L282 151L354 250L282 349z' id='P3'%3E%3C/path%3E%3Cpath d='M228 77L391 148L412 314L272 423L109 352L88 186L228 77z' id='P4'%3E%3C/path%3E%3Cpath d='M103 231C113 174 150 129 196 112C240 95 289 99 337 130C382 166 404 221 397 269C387 326 350 371 304 388C260 405 211 401 163 370C118 334 96 279 103 231z' id='P5'%3E%3C/path%3E%3Cpath d='M225 56L432 322L91 365L225 56z' id='P6'%3E%3C/path%3E%3Cpath d='M426 250L250 426L74 250L250 74L426 250z' id='P7'%3E%3C/path%3E%3Cpath d='M162 157L312 138L376 274L266 377L134 304L162 157z' id='P8'%3E%3C/path%3E%3Cpath d='M75 168L238 57L406 137L425 332L262 443L94 363L75 168z' id='P9'%3E%3C/path%3E%3Cpath d='M112 267C107 213 131 163 168 138C205 111 250 104 301 121C351 143 383 187 388 233C393 287 369 337 332 362C295 389 250 396 199 379C149 357 117 313 112 267z' id='P10'%3E%3C/path%3E%3Cpath d='M232 105L386 304L132 336L232 105z' id='P11'%3E%3C/path%3E%3Cpath d='M175 353L147 175L325 147L353 325L175 353z' id='P12'%3E%3C/path%3E%3Cpath d='M124 191L267 112L387 224L317 372L155 351L124 191z' id='P13'%3E%3C/path%3E%3Cpath d='M358 329L233 383L129 307L142 171L267 117L371 193L358 329z' id='P14'%3E%3C/path%3E%3Cpath d='M334 339C298 370 250 379 212 366C175 354 146 325 132 280C122 234 137 188 166 161C202 130 250 121 288 134C325 146 354 175 368 220C378 266 363 312 334 339z' id='P15'%3E%3C/path%3E%3Cpath d='M226 344L179 184L344 226L226 344z' id='P16'%3E%3C/path%3E%3Cpath d='M419 250L250 419L81 250L250 81L419 250z' id='P17'%3E%3C/path%3E%3Cpath d='M156 302L172 177L296 153L356 263L270 355L156 302z' id='P18'%3E%3C/path%3E%3Cpath d='M135 358L100 201L211 97L365 142L400 299L289 403L135 358z' id='P19'%3E%3C/path%3E%3C/defs%3E%3Cg id='group' fill='%232D323C' filter='url(%23goo)' opacity='0.76'%3E%3Cuse x='-209' y='100' href='%23P0'%3E%3C/use%3E%3Cuse x='231' y='809' href='%23P8'%3E%3C/use%3E%3Cuse x='-226' y='1153' href='%23P7'%3E%3C/use%3E%3Cuse x='131' y='1684' href='%23P7'%3E%3C/use%3E%3Cuse x='-150' y='2356' href='%23P5'%3E%3C/use%3E%3Cuse x='27' y='2977' href='%23P6'%3E%3C/use%3E%3Cuse x='96' y='3750' href='%23P15'%3E%3C/use%3E%3Cuse x='-41' y='4100' href='%23P7'%3E%3C/use%3E%3Cuse x='267' y='5008' href='%23P3'%3E%3C/use%3E%3Cuse x='-167' y='5642' href='%23P18'%3E%3C/use%3E%3Cuse x='436' y='93' href='%23P5'%3E%3C/use%3E%3Cuse x='943' y='632' href='%23P18'%3E%3C/use%3E%3Cuse x='660' y='1147' href='%23P8'%3E%3C/use%3E%3Cuse x='543' y='1752' href='%23P6'%3E%3C/use%3E%3Cuse x='801' y='2568' href='%23P14'%3E%3C/use%3E%3Cuse x='502' y='2732' href='%23P2'%3E%3C/use%3E%3Cuse x='675' y='3530' href='%23P19'%3E%3C/use%3E%3Cuse x='361' y='4367' href='%23P5'%3E%3C/use%3E%3Cuse x='513' y='4821' href='%23P19'%3E%3C/use%3E%3Cuse x='396' y='5364' href='%23P6'%3E%3C/use%3E%3Cuse x='1035' y='9' href='%23P15'%3E%3C/use%3E%3Cuse x='1271' y='752' href='%23P11'%3E%3C/use%3E%3Cuse x='1332' y='1092' href='%23P6'%3E%3C/use%3E%3Cuse x='1011' y='1917' href='%23P19'%3E%3C/use%3E%3Cuse x='1113' y='2673' href='%23P11'%3E%3C/use%3E%3Cuse x='1229' y='3132' href='%23P2'%3E%3C/use%3E%3Cuse x='1536' y='3372' href='%23P8'%3E%3C/use%3E%3Cuse x='1529' y='3946' href='%23P8'%3E%3C/use%3E%3Cuse x='1484' y='4712' href='%23P16'%3E%3C/use%3E%3Cuse x='1139' y='5602' href='%23P9'%3E%3C/use%3E%3Cuse x='1606' y='90' href='%23P8'%3E%3C/use%3E%3Cuse x='2005' y='581' href='%23P6'%3E%3C/use%3E%3Cuse x='1863' y='1265' href='%23P8'%3E%3C/use%3E%3Cuse x='1660' y='2120' href='%23P3'%3E%3C/use%3E%3Cuse x='2049' y='2529' href='%23P13'%3E%3C/use%3E%3Cuse x='1690' y='2961' href='%23P7'%3E%3C/use%3E%3Cuse x='1636' y='3513' href='%23P16'%3E%3C/use%3E%3Cuse x='1830' y='4452' href='%23P13'%3E%3C/use%3E%3Cuse x='2117' y='5031' href='%23P5'%3E%3C/use%3E%3Cuse x='2144' y='5379' href='%23P1'%3E%3C/use%3E%3Cuse x='2740' y='45' href='%23P7'%3E%3C/use%3E%3Cuse x='2378' y='737' href='%23P13'%3E%3C/use%3E%3Cuse x='2519' y='1528' href='%23P15'%3E%3C/use%3E%3Cuse x='2247' y='2066' href='%23P0'%3E%3C/use%3E%3Cuse x='2489' y='2156' href='%23P10'%3E%3C/use%3E%3Cuse x='2231' y='3232' href='%23P9'%3E%3C/use%3E%3Cuse x='2697' y='3341' href='%23P5'%3E%3C/use%3E%3Cuse x='2346' y='3918' href='%23P8'%3E%3C/use%3E%3Cuse x='2563' y='4540' href='%23P11'%3E%3C/use%3E%3Cuse x='2533' y='5541' href='%23P3'%3E%3C/use%3E%3Cuse x='3100' y='-175' href='%23P10'%3E%3C/use%3E%3Cuse x='3335' y='763' href='%23P7'%3E%3C/use%3E%3Cuse x='3089' y='1247' href='%23P16'%3E%3C/use%3E%3Cuse x='3189' y='1636' href='%23P3'%3E%3C/use%3E%3Cuse x='3200' y='2137' href='%23P3'%3E%3C/use%3E%3Cuse x='3177' y='2973' href='%23P2'%3E%3C/use%3E%3Cuse x='2905' y='3614' href='%23P17'%3E%3C/use%3E%3Cuse x='2970' y='4346' href='%23P1'%3E%3C/use%3E%3Cuse x='3034' y='4690' href='%23P11'%3E%3C/use%3E%3Cuse x='3115' y='5582' href='%23P15'%3E%3C/use%3E%3Cuse x='4014' y='-79' href='%23P19'%3E%3C/use%3E%3Cuse x='3999' y='517' href='%23P14'%3E%3C/use%3E%3Cuse x='3971' y='1250' href='%23P4'%3E%3C/use%3E%3Cuse x='3478' y='2034' href='%23P17'%3E%3C/use%3E%3Cuse x='3558' y='2278' href='%23P19'%3E%3C/use%3E%3Cuse x='3802' y='3119' href='%23P18'%3E%3C/use%3E%3Cuse x='3527' y='3344' href='%23P9'%3E%3C/use%3E%3Cuse x='3915' y='4125' href='%23P9'%3E%3C/use%3E%3Cuse x='3525' y='5067' href='%23P18'%3E%3C/use%3E%3Cuse x='3913' y='5227' href='%23P4'%3E%3C/use%3E%3Cuse x='4555' y='-103' href='%23P7'%3E%3C/use%3E%3Cuse x='4224' y='938' href='%23P9'%3E%3C/use%3E%3Cuse x='4583' y='1297' href='%23P2'%3E%3C/use%3E%3Cuse x='4050' y='1661' href='%23P10'%3E%3C/use%3E%3Cuse x='4240' y='2524' href='%23P1'%3E%3C/use%3E%3Cuse x='4286' y='2787' href='%23P12'%3E%3C/use%3E%3Cuse x='4182' y='3629' href='%23P11'%3E%3C/use%3E%3Cuse x='4614' y='3969' href='%23P4'%3E%3C/use%3E%3Cuse x='4572' y='4777' href='%23P18'%3E%3C/use%3E%3Cuse x='4404' y='5444' href='%23P10'%3E%3C/use%3E%3Cuse x='5001' y='257' href='%23P11'%3E%3C/use%3E%3Cuse x='4973' y='687' href='%23P5'%3E%3C/use%3E%3Cuse x='4741' y='1001' href='%23P7'%3E%3C/use%3E%3Cuse x='4713' y='1904' href='%23P15'%3E%3C/use%3E%3Cuse x='5153' y='2424' href='%23P19'%3E%3C/use%3E%3Cuse x='4707' y='2943' href='%23P3'%3E%3C/use%3E%3Cuse x='4811' y='3767' href='%23P13'%3E%3C/use%3E%3Cuse x='5044' y='4444' href='%23P4'%3E%3C/use%3E%3Cuse x='5150' y='4788' href='%23P4'%3E%3C/use%3E%3Cuse x='4853' y='5581' href='%23P8'%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
